


.a {
    overflow: hidden;
    float: left;
    background-color:#000;
    color: #fff;
    width: 0;
    height: 35px;
    animation-name: test;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    border-right: 2px #fff solid;
    position: relative;
}

.t1 {
    animation-name: t;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    font-size: 27px;
    margin: 0;
    visibility: hidden;
    position: absolute;
}
.t2 {
    animation-name: t;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    font-size: 27px;
    margin: 0;
    visibility: hidden;
    position: absolute;
    animation-delay: 3s;

}
.t3 {
    animation-name: t;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    font-size: 27px;
    margin: 0;
    visibility: hidden;
    position: absolute;
    animation-delay: 6s;
}

@keyframes test {
    0% {
        width: 0;
    }

    11.11% {
        width: 120px;
    }

    22.22% {
        width: 120px;

    }

    33.33% {
        width: 0px;
    }

    44.44% {
        width: 136px;
    }

    55.55% {
        width: 136px;
    }

    66.66% {
        width: 0px;
    }

    77.77% {
        width: 102px;
    }

    88.88% {
        width: 102px;
    }

}


@keyframes t {
0% {
    visibility:visible;
}

11.11% {
    visibility:visible;
}

22.22% {
    visibility:visible;
}

33.33% {
    visibility:hidden;
}

44.44% {
    visibility:hidden;
}

55.55% {
    visibility:hidden;
}

66.66% {
    visibility:hidden;
}

77.77% {
    visibility:hidden;
}

88.88% {
    visibility:hidden;
}
99.99% {
    visibility:hidden;
}
}
