/* // X-Large devices (large desktops, 1200px and up) */


@media (max-width: 1200px) {

    /* ------------------------------------------------- */
    /* Services */
    /* ------------------------------------------------- */

    .services .services-item h3 {
        font-size: 20px;
    }

    /* ------------------------------------------------- */
    /* Portfolio */
    /* ------------------------------------------------- */

    .our-portfolio .portfolio-links ul {
        width: 80%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    /* ------------------------------------------------- */
    /* About */
    /* ------------------------------------------------- */

    .about-sections {
        padding: 60px 0;
    }

    .about-section .about-img {
        width: 46%;
        box-shadow: none;
        margin: 0 2%;
    }

    .about-data {
        margin: 0 2%;
        width: 46%;
        padding-left: 0px;

    }

    .about-contact ul li {
        font-size: 14px;
    }

    .img-container {
        transform: none;
    }

    /* ------------------------------------------------- */
    /* Services */
    /* ------------------------------------------------- */

    .services .services-item {
        width: 40%;
        margin: 0 5%;
        margin-bottom: 25px;
    }

    /* ------------------------------------------------- */
    /* Portfolio */
    /* ------------------------------------------------- */

    .portfolio-image {
        width: 48%;
        margin: 1%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* ------------------------------------------------- */
    /* Navbar */
    /* ------------------------------------------------- */

    .links-container {
        display: none;
    }

    .links .links-icon {
        display: block;
    }

    /* ------------------------------------------------- */
    /* About */
    /* ------------------------------------------------- */

    .about-sections {
        padding: 40px 0;
    }

    .about-section .about-img {
        width: 100%;
        margin: 30px auto;
    }

    .about-data {
        width: 100%;
        margin: auto;
    }

    /* ------------------------------------------------- */
    /* Services */
    /* ------------------------------------------------- */

    .services .services-item {
        width: 70%;
        margin: 0 15%;
        margin-bottom: 25px;
    }

    /* ------------------------------------------------- */
    /* Portfolio */
    /* ------------------------------------------------- */
    .portfolio-image {
        width: 70%;
        margin: 1% 15%;
    }

    .our-portfolio .portfolio-links ul {
        width: 100%;
    }

    /* ------------------------------------------------- */
    /* Counter */
    /* ------------------------------------------------- */

    .counter-items .counter-item {
        width: 100%;
        margin-top: 50px;
    }

    /* ------------------------------------------------- */
    /* Client */
    /* ------------------------------------------------- */

    .client .card {
        padding: 15px;
    }

    .client .card .client-image {
        margin: 30px 35%;
        width: 30%;

    }

    .client .card .feedback {
        float: left;
        width: 90%;
        padding-left: 5px;
    }

    /* ------------------------------------------------- */
    /* Blog */
    /* ------------------------------------------------- */


    .blog-item {
        width: 70%;
        margin: 20px 15%;
    }

    /* ------------------------------------------------- */
    /* Contact */
    /* ------------------------------------------------- */

    .contact form {
        width: 100%;
    }

    .contact form .w40 {
        width: 100%;
    }


}

/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    /* ------------------------------------------------- */
    /* Home */
    /* ------------------------------------------------- */

    .home h1 {
        font-size: 40px;
    }

    .animation {
        font-size: 18px;
    }

    .motion {
        padding-left: 5px;
    }

    /* Animation */

    @keyframes test {

        0%,
        33.33%,
        66.66%,
        99.99% {
            width: 0;
        }

        11.11%,
        22.22% {
            width: 90px;
        }

        44.44%,
        55.55% {
            width: 95px;
        }

        77.77%,
        88.88% {
            width: 75px;
        }
    }


    /* ------------------------------------------------- */
    /* About */
    /* ------------------------------------------------- */

    .about-sections {
        padding: 40px 0;
    }

    .about-contact ul li.first-row,
    .about-contact ul li.second-row {
        width: 100%;
    }

    /* ------------------------------------------------- */
    /* Services */
    /* ------------------------------------------------- */

    .services .services-item {
        width: 80%;
        margin: 0 10%;
        margin-bottom: 25px;
    }


    /* ------------------------------------------------- */
    /* Portfolio */
    /* ------------------------------------------------- */

    .portfolio-image {
        width: 80%;
        margin: 1% 10%;
    }
    .our-portfolio .portfolio-links li {
        width:50%;
        
    }


    /* ------------------------------------------------- */
    /* Counter */
    /* ------------------------------------------------- */

    .counter-items .counter-item {
        width: 100%;
        margin-top: 50px;
    }

    /* ------------------------------------------------- */
    /* Client */
    /* ------------------------------------------------- */

    .client .card {
        width: 90%;
    }

    .client .card .client-image {
        margin: 0 35%;
        width: 30%;

    }

    .client .card .feedback {
        float: left;
        width: 90%;
        padding-left: 5px;
    }

    /* ------------------------------------------------- */
    /* Blog */
    /* ------------------------------------------------- */

    .blog-item {
        width: 100%;
        margin: 20px 0;
    }

    /* ------------------------------------------------- */
    /* Blog */
    /* ------------------------------------------------- */

    .copy-right{
        font-size: 12px;
    }
}